.wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
}

.mainDish {
    background-color: #ED3359;
    position: sticky;
    top: 0;
    height: 90vh;
    flex-grow: 1
}

.mainThumbnail {
    position: absolute;
    text-decoration: none; 
    color: black;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.thumbnails {
    background-color: #E3DAFF;
    overflow: scroll;
}

.thumbnail:hover .bg, .mainThumbnail:hover .bg {
    animation: rotate 5s linear infinite;
}

.mainThumbnail:hover .title {
    animation: mainRotate 5s linear infinite;
}

.mainContent {
    vertical-align: top;
}

.title {
    position: absolute; 
    transition: 0.5s all linear;
    transform: rotate(20deg);
}

.text {
    margin-left: 20%;
    margin-top: 200px;
}

.email {
    box-shadow: rgba(0, 0, 25, 0.075) 0px 0.5em 1em 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 241, 242);
    margin: 1rem auto;
    padding: 20px;
    background-color: #E3DAFF;
    border-radius: 10px;
    border: 2px solid #C589E8;
    width: 80%;
}

.email h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: left;
}

.email input {
    display: inline-block;
}

.email input {
    border: 2px solid #f7f7f7;
    padding: 10px 15px;
    border-radius: 0;
    font-family: SFPro;
    border: 2px solid #C589E8;
}

.previews {
    display: flex;
    flex-wrap: wrap;
    width: 504px;
    justify-content: flex-start;
}

.previews li {
    list-style: none;
    width: 250px;
    border: 1px solid black;
}

.recipePreview {
    padding: 30px;
}

.previewText {
    text-align: center;
    color: black;
}

.logo {
    text-align: center;
    margin: auto;
    user-select: none;
    font-family: Pacifico;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 4rem;
    color: white;
    width: 100%;
}

.banner {
    background-color: #f7f7f7;
    width: 100%;
    font-family: SFPro;
    overflow-x: hidden;
    height: 50px;
    position: relative;
}

.bannerTrack {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    top: 30%;
    transform: translateY(-50%);
}

.bio {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 800px;
    margin: 0 auto;
    width: fit-content;
    gap: 20px;
    padding: 2rem;
}

.bioImage {
    width: 280px;
    height: 280px;
    object-fit: contain;
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
}

.bioImageBackground {
    width: 100%;
    height: 100%;
    z-index: 0;
    max-width: 300px;
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #FCFE00;
    border-radius: 20px;
}

.topFive {
    margin: 2rem auto;
    font-family: SFPro;
    background-color: #FCFE00;
    padding: 40px 40px 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.carouselBackground {
    width: 100%;
    height: 100%;
    z-index: 0;
    max-width: 1000px;
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #C589E8;
    border-radius: 20px;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-content: center;
    width: fit-content;
}

.carouselTitle {
    text-align: center; 
    font-size: 1.5em; 
    position: relative;
}

.carouselTitle select {
    font-size: 1em; 
    text-align: right;
}

.carouselWave {
    color: transparent; 
    text-decoration: underline wavy #C589E8; 
    text-align: center; 
    font-size: 1.5em; 
    position: absolute; 
    top: 55px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes mainRotate {
    0% {
        transform: rotate(20deg)
    }
    100% {
        transform: rotate(380deg)
    }
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

@media screen and (max-width: 758px) {
    .wrapper {
        display: block;
        height: 100%;
    }

    .mainDish {
        position: relative;
        height: 50vh;
    }

    .previews {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    .previews {
        width: 756px;
    }
}

@media screen and (max-width: 600px) {
    .bio {
        display: block;
    }
}

@media screen and (max-width: 505px) {
    .previews li {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .mainThumbnail {
        top: 55%;
    }

    .carousel {
        grid-auto-flow: row;
        height: 400px;
    }

    .carouselTitle, .carouselWave {
        font-size: 1.3em; 
    }
    
    .carouselTitle select {
        font-size: 1em;
    }
    
}