.wrapper {
    width: 100%;
    height: 100%;
}

.mainContent, .mainImage{
    width: 50%;
    height: 70vh;
    display: inline-block;
    overflow: hidden;
}

.mainContent {
    vertical-align: top;
}

.text {
    margin-left: 20%;
    margin-top: 200px;
}

.email {
    box-shadow: rgba(0, 0, 25, 0.075) 0px 0.5em 1em 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 241, 242);
    width: 80%;
    margin: 1rem auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.email h3, .email input {
    display: inline-block;
    margin-right: 1rem;
}

.email input {
    border: 2px solid #f7f7f7;
    padding: 10px 15px;
    border-radius: 0;
    width: 22%;
    font-family: SFPro;
}

.email button {
    width: 22%
}

.previews {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items:center;
    grid-gap:1.5rem;
    margin-top: 1rem;
}
