.close {
    position: absolute; 
    right: 10px; 
    top: 10px; 
    border: none; 
    padding: 0; 
    font-size: 2rem; 
    background-color: transparent;
}

.close:hover {
    background-color: transparent;
    color: #C589E8;
}

.close:hover i:before {
    content: "\EB96";
}