.mobileMenu { 
    display: none;
}

.header {
    background-color: #383942;
    width:100%;
}

.headerContent {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.back {
    color: white;
    font-size: 2rem;
    position: absolute;
    left: -11%;
    top: 18px;
    text-decoration:none;
}

.back:hover {
    color: white;
    text-decoration:none;
}

.thumbnail {
    width: 30vw;
    height: 15vw;
    max-width: 340px;
    max-height: 170px;
    display: inline-block;
    margin-right: 25px;
}

.thumbnail img {
    width: 30vw;
    max-width: 340px;
    max-height: 340px;
    height: 30vw;
    margin-top: -50%;
}

.title {
    display: inline-block;
    vertical-align: top;
    color: white;
    width: calc(62% - 25px);
    min-width: 300px;
    margin: 15px 0;
}

.title h1 {
    margin: 10px 0;
}

.title p {
    margin: 5px 0;
}

.type {
    background-color: white;
    color: #383942;
    width: max-content;
    padding: 5px 10px;
    border-radius: 20px;
}

.main {
    width: 80%;
    max-width: 900px;
    margin: 0 auto 2rem;
    display: grid;
    grid-auto-flow: column;
    height: 100vh;
    overflow: hidden;
}

.hidden, .selected {
    overflow: scroll;
}

.ingredients {
    width: 30vw;
    max-width: 340px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    border-right: 1px solid #38394275;
    top: 0;
    overflow: scroll;
}

.ingredient {
    margin-bottom:10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.ingredientImg {
    width: 76px;
    height: 76px;
    background-color: white;
    border-radius: 38px;
    display: flex;
    overflow: hidden;
}

.ingredient img{
    width: auto;
    height: 60px;
    margin: auto;
    border-radius: 25px;
}

.ingredient p{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.stepWrapper {
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
    overflow: scroll;
}

.recipeText {
    display: inline-block;
    max-width: 100%;
}

.recipeText p {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.recipeText ol {
    counter-reset: list-number 0;
    padding-inline-start: 10px;
}

.recipeText li {
    line-height: 25px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: baseline;
}

.recipeText li::before {
    background-color: #383942;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    counter-increment: list-number 1;
    content: counter(list-number);
    display: inline-block;
    text-align: center;
}

.recipeText li::marker {
    color: white;
}

.recipeImage {
    width: calc(60% - 150px);
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    .mobileHeader {
        top: 0;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 4px;
    }

    .mobileMenu {
        display: grid;
        grid-auto-flow: column;
        gap: 5px;
        width: 80%;
        max-width: 900px;
        margin: 0 auto;
        background-color: #f7f7f7;
    }
    
    .mobileMenu button {
        border: none;
        padding: 0; 
        color: black;
        background-color: transparent;
        text-align: left;
    }

    .mobileMenu button:hover {
        background-color: transparent;
        padding: 0;
        border: none;
        color: black
    }

    .selectedMenu h2 {
        color: #C589E8 !important;
        border-bottom: 2px solid #C589E8 !important;
        width: max-content;
    }

    .main {
        overflow: visible;
        height: 100%;
    }

    .hidden {
        display: none;
    }

    .selected { 
        display: block;
        overflow: visible;
    }

    .thumbnail {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 0;
    }

    .ingredients, .stepWrapper {
        width: 100%;
        margin-top: 0;
    }

    .ingredients { 
        border-right: none;
        position: inherit;
    }

    .stepWrapper {
        margin-left: 0;
    }

    .stepWrapper h2 {
        margin: 1rem 0;
    }

    .stepWrapper ol {
        padding-inline-start: 0;
    }

    .stepWrapper li {
        display: block;
        margin-bottom: 2rem;
    }

    /* .stepWrapper li div {
        margin-top: -10px;
    } */

    /* .ingredients h2, .stepWrapper h2 {
        display: none;
    } */
}